<!-- BLOG -->
         <!-- section#blog.container.my-4.mb-4>h2.text-center.mb-3.mt-1{Son 6 Blog}+div.row>(div.col-md-4.mb-4>div.card.blog-card>img.card-img-top+div.card-body>h5.card-title.text-center.h1.text-uppercase{başlık-$}+p.card-text.line-clamp8{içerik-$}+a.btn.btn-primary{Daha Fazla})*9 -->
         <section id="blog" class="container container-fluid44 my-4 mb-4">
            <h2 class="text-center text-uppercase mt-3 mb-5 text-light display-5">
              Bloglar
            </h2>
            <h2 class="text-center mb-3 mt-1" style="color: white">Son 6 Blog</h2>
            <div class="row">
              <!-- card-1 -->
              <div class="col-md-4 mb-4" id="card_body">
                <div class="card blog-card">
                  <img src="pictures/kart1.webp" alt="" class="card-img-top" />
                  <div class="card-body">
                    <h5 class="card-title text-center h1 text-uppercase">
                      başlık-1
                    </h5>
                    <p class="card-text line-clamp8">
                      içerik-1 Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Officia dolore culpa alias minima nisi rem quae
                      necessitatibus, sapiente in ipsam magni ab fugit itaque
                      obcaecati enim quasi possimus officiis sint? Veniam hic amet
                      error corrupti vero mollitia necessitatibus voluptass
                      excepturi. Lorem, ipsum dolor sit amet consectetur
                      adipisicing elit. Itaque earum quam, delectus eligendi
                      dolores dolore atque pariatur commodi officia voluptas,
                      quaerat accusamus accusantium debitis assumenda error! Culpa
                      consectetur doloribus esse.
                    </p>
                    <a href="" class="btn btn-primary">Daha Fazla</a>
                  </div>
                </div>
              </div>
  
              <!-- card-2 -->
              <div class="col-md-4 mb-4" id="card_body">
                <div class="card blog-card">
                  <img src="pictures/kart5.jpg" alt="" class="card-img-top" />
                  <div class="card-body">
                    <h5 class="card-title text-center h1 text-uppercase">
                      başlık-1
                    </h5>
                    <p class="card-text line-clamp8">
                      içerik-2 Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Officia dolore culpa alias minima nisi rem quae
                      necessitatibus, sapiente in ipsam magni ab fugit itaque
                      obcaecati enim quasi possimus officiis sint? Veniam hic amet
                      error corrupti vero mollitia necessitatibus voluptass
                      excepturi. Lorem, ipsum dolor sit amet consectetur
                      adipisicing elit. Itaque earum quam, delectus eligendi
                      dolores dolore atque pariatur commodi officia voluptas,
                      quaerat accusamus accusantium debitis assumenda error! Culpa
                      consectetur doloribus esse.
                    </p>
                    <a href="" class="btn btn-primary">Daha Fazla</a>
                  </div>
                </div>
              </div>
  
              <!-- card-1 -->
              <div class="col-md-4 mb-4" id="card_body">
                <div class="card blog-card">
                  <img src="pictures/kart3.webp" alt="" class="card-img-top" />
                  <div class="card-body">
                    <h5 class="card-title text-center h1 text-uppercase">
                      başlık-1
                    </h5>
                    <p class="card-text line-clamp8">
                      içerik-3 Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Officia dolore culpa alias minima nisi rem quae
                      necessitatibus, sapiente in ipsam magni ab fugit itaque
                      obcaecati enim quasi possimus officiis sint? Veniam hic amet
                      error corrupti vero mollitia necessitatibus voluptass
                      excepturi. Lorem, ipsum dolor sit amet consectetur
                      adipisicing elit. Itaque earum quam, delectus eligendi
                      dolores dolore atque pariatur commodi officia voluptas,
                      quaerat accusamus accusantium debitis assumenda error! Culpa
                      consectetur doloribus esse.
                    </p>
                    <a href="" class="btn btn-primary">Daha Fazla</a>
                  </div>
                </div>
              </div>
  
              <!-- card-1 -->
              <div class="col-md-4 mb-4" id="card_body">
                <div class="card blog-card">
                  <img src="pictures/kart1.webp" alt="" class="card-img-top" />
                  <div class="card-body">
                    <h5 class="card-title text-center h1 text-uppercase">
                      başlık-1
                    </h5>
                    <p class="card-text line-clamp8">
                      içerik-4 Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Officia dolore culpa alias minima nisi rem quae
                      necessitatibus, sapiente in ipsam magni ab fugit itaque
                      obcaecati enim quasi possimus officiis sint? Veniam hic amet
                      error corrupti vero mollitia necessitatibus voluptass
                      excepturi. Lorem, ipsum dolor sit amet consectetur
                      adipisicing elit. Itaque earum quam, delectus eligendi
                      dolores dolore atque pariatur commodi officia voluptas,
                      quaerat accusamus accusantium debitis assumenda error! Culpa
                      consectetur doloribus esse.
                    </p>
                    <a href="" class="btn btn-primary">Daha Fazla</a>
                  </div>
                </div>
              </div>
  
              <!-- card-5 -->
              <div class="col-md-4 mb-4" id="card_body">
                <div class="card blog-card">
                  <img src="pictures/kart4.webp" alt="" class="card-img-top" />
                  <div class="card-body">
                    <h5 class="card-title text-center h1 text-uppercase">
                      başlık-1
                    </h5>
                    <p class="card-text line-clamp8">
                      içerik-5 Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Officia dolore culpa alias minima nisi rem quae
                      necessitatibus, sapiente in ipsam magni ab fugit itaque
                      obcaecati enim quasi possimus officiis sint? Veniam hic amet
                      error corrupti vero mollitia necessitatibus voluptass
                      excepturi. Lorem, ipsum dolor sit amet consectetur
                      adipisicing elit. Itaque earum quam, delectus eligendi
                      dolores dolore atque pariatur commodi officia voluptas,
                      quaerat accusamus accusantium debitis assumenda error! Culpa
                      consectetur doloribus esse.
                    </p>
                    <a href="" class="btn btn-primary">Daha Fazla</a>
                  </div>
                </div>
              </div>
  
              <!-- card-6 -->
              <div class="col-md-4 mb-4" id="card_body">
                <div class="card blog-card">
                  <img src="pictures/kart3.webp" alt="" class="card-img-top" />
                  <div class="card-body">
                    <h5 class="card-title text-center h1 text-uppercase">
                      başlık-1
                    </h5>
                    <p class="card-text line-clamp8">
                      içerik-6 Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Officia dolore culpa alias minima nisi rem quae
                      necessitatibus, sapiente in ipsam magni ab fugit itaque
                      obcaecati enim quasi possimus officiis sint? Veniam hic amet
                      error corrupti vero mollitia necessitatibus voluptass
                      excepturi. Lorem, ipsum dolor sit amet consectetur
                      adipisicing elit. Itaque earum quam, delectus eligendi
                      dolores dolore atque pariatur commodi officia voluptas,
                      quaerat accusamus accusantium debitis assumenda error! Culpa
                      consectetur doloribus esse.
                    </p>
                    <a href="" class="btn btn-primary">Daha Fazla</a>
                  </div>
                </div>
              </div>
  
              <!-- card-7 -->
              <div class="col-md-4 mb-4" id="card_body">
                <div class="card blog-card">
                  <img src="pictures/kart1.webp" alt="" class="card-img-top" />
                  <div class="card-body">
                    <h5 class="card-title text-center h1 text-uppercase">
                      başlık-1
                    </h5>
                    <p class="card-text line-clamp8">
                      içerik-7 Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Officia dolore culpa alias minima nisi rem quae
                      necessitatibus, sapiente in ipsam magni ab fugit itaque
                      obcaecati enim quasi possimus officiis sint? Veniam hic amet
                      error corrupti vero mollitia necessitatibus voluptass
                      excepturi. Lorem, ipsum dolor sit amet consectetur
                      adipisicing elit. Itaque earum quam, delectus eligendi
                      dolores dolore atque pariatur commodi officia voluptas,
                      quaerat accusamus accusantium debitis assumenda error! Culpa
                      consectetur doloribus esse.
                    </p>
                    <a href="" class="btn btn-primary">Daha Fazla</a>
                  </div>
                </div>
              </div>
  
              <!-- card-8 -->
              <div class="col-md-4 mb-4" id="card_body">
                <div class="card blog-card">
                  <img src="pictures/kart2.webp" alt="" class="card-img-top" />
                  <div class="card-body">
                    <h5 class="card-title text-center h1 text-uppercase">
                      başlık-1
                    </h5>
                    <p class="card-text line-clamp8">
                      içerik-8 Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Officia dolore culpa alias minima nisi rem quae
                      necessitatibus, sapiente in ipsam magni ab fugit itaque
                      obcaecati enim quasi possimus officiis sint? Veniam hic amet
                      error corrupti vero mollitia necessitatibus voluptass
                      excepturi. Lorem, ipsum dolor sit amet consectetur
                      adipisicing elit. Itaque earum quam, delectus eligendi
                      dolores dolore atque pariatur commodi officia voluptas,
                      quaerat accusamus accusantium debitis assumenda error! Culpa
                      consectetur doloribus esse.
                    </p>
                    <a href="" class="btn btn-primary">Daha Fazla</a>
                  </div>
                </div>
              </div>
  
              <!-- card-9 -->
              <div class="col-md-4 mb-4" id="card_body">
                <div class="card blog-card">
                  <img src="pictures/kart3.webp" alt="" class="card-img-top" />
                  <div class="card-body">
                    <h5 class="card-title text-center h1 text-uppercase">
                      başlık-1
                    </h5>
                    <p class="card-text line-clamp8">
                      içerik-9 Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Officia dolore culpa alias minima nisi rem quae
                      necessitatibus, sapiente in ipsam magni ab fugit itaque
                      obcaecati enim quasi possimus officiis sint? Veniam hic amet
                      error corrupti vero mollitia necessitatibus voluptass
                      excepturi. Lorem, ipsum dolor sit amet consectetur
                      adipisicing elit. Itaque earum quam, delectus eligendi
                      dolores dolore atque pariatur commodi officia voluptas,
                      quaerat accusamus accusantium debitis assumenda error! Culpa
                      consectetur doloribus esse.
                    </p>
                    <a href="" class="btn btn-primary">Daha Fazla</a>
                  </div>
                </div>
              </div>
            </div>
          </section>