<!-- header start -->
<header id="header">
    <!-- header#header>div.jumbotron.text-white>div.container>div.p-5.text-center>h1.text-uppercase.display-3{Full Stack eğitimimize Hoşgeldiniz}+h4{Html5,Css3,Js,TS,ES,Node,Mongo}+(a.btn.btn-outline-primary.me-2.mt-4{Linkedin})*4 -->
    <div class="jumbotron text-white">
      <div class="container">
        <div class="p-5 text-center">
          <h1 class="text-uppercase display-3 bg-dark" style="opacity: 0.9">
            Full Stack eğitimimize Hoşgeldiniz
          </h1>
          <h4 class="bg-dark" style="opacity: 0.9">
            Html5,Css3,Js,TS,ES,Node,Mongo
          </h4>
          <a href="" class="btn btn-primary me-2 mt-4"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
          <a href="" class="btn btn-danger me-2 mt-4"
            ><i class="fa-brands fa-youtube"></i
          ></a>
          <a href="" class="btn btn-dark me-2 mt-4"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a href="" class="btn btn-warning btn-outline-warning44 me-2 mt-4"
            ><i class="fa-brands fa-google"></i
          ></a>
        </div>
      </div>
    </div>
  </header>
  <!-- header end -->