<!-- Üst Navbar -->
       <!-- div.top_bar>div.container>div.row>(div.col-lg-7.col-md-9.col-xs-12>ul.clearfix.links>li({Home}>i)+li({Blog}>i)+li({Newspaper}>i)+li({Contanct}>i))+(div.col-lg-5.col-md-3.col-xs-12>div.first_right>(a{Login}+a{Register})) -->
       <nav id="navbar_first" class="d-flex align-items-center">
        <div class="container d-flex justify-content-between">
          <!-- Sol Taraf (İletişim) -->
          <div id="first_left" class="d-flex">
            <ul class="d-flex links">
              <li>
                <a class="text-primary me-3 nav-icon" href="tel:+901112223344">
                  <i class="fa-solid fa-phone-flip"></i>
                </a>
              </li>
              <li>
                <a
                  class="text-success me-3 nav-icon"
                  href="https://wa.me/901112223344?text=Merhaba%20iletişime%20geçmek%20istiyorum"
                  target="_blank"
                >
                  <i class="fa-brands fa-whatsapp"></i>
                </a>
              </li>
              <li>
                <a
                  class="text-danger me-3 nav-icon"
                  href="mailto:hamitmizrak@gmail.com"
                >
                  <i class="fa-solid fa-envelope"></i>
                </a>
              </li>
            </ul>
          </div>

          <!-- Sağ Taraf (Login/Register/Admin) -->
          <div id="first_right" class="d-flex">
            <a href="login/" title="Login" class="text-primary me-2 nav-icon">
              <i class="fa-solid fa-user"></i>
            </a>
            <a
              href="register/"
              target="_blank"
              title="Register"
              class="text-warning me-2 nav-icon"
            >
              <i class="fa-solid fa-user-secret"></i>
            </a>
            <a
              href="blog/"
              target="_blank"
              title="Blog"
              class="text-danger nav-icon"
            >
              <i class="fa-solid fa-blog"></i>
            </a>
          </div>
        </div>
      </nav>