<!-- Ana Navbar -->
<nav
id="navbar_second"
class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm fixed-top44"
>
<div class="container">
  <!-- Logo -->
  <a class="navbar-brand fw-bold d-flex align-items-center" href="#">
    <i class="fa-solid fa-code me-2"></i> LOGO
  </a>

  <!-- Mobil Menü Açma Butonu -->
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapsibleNavId"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Menüsü -->
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link active nav-hover" href="#header"
          ><i class="fa-solid fa-house"></i> Home</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link nav-hover" href="#out_icon"
          ><i class="fa-regular fa-newspaper"></i> Our</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link nav-hover" href="#newspaper"
          ><i class="fa-regular fa-newspaper"></i> Newspaper</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link nav-hover" href="#blog"
          ><i class="fa-solid fa-blog"></i> Blog</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link nav-hover" href="#footer"
          ><i class="fa-solid fa-id-card"></i> Contact</a
        >
      </li>

      <!-- Dropdown Menü -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="dropdownId"
          data-bs-toggle="dropdown"
          >More</a
        >
        <ul class="dropdown-menu animate-dropdown">
          <li><a class="dropdown-item" href="/blog">Blog</a></li>
          <li><a class="dropdown-item" href="#">Action 2</a></li>
        </ul>
      </li>
    </ul>

    <!-- Arama Kutusu -->
    <form class="d-flex search-bar">
      <input
        class="form-control me-2 search-input"
        type="search"
        placeholder="Arama için ..."
      />
      <button class="btn btn-outline-success search-btn" type="submit">
        Gönder
      </button>
    </form>
  </div>
</div>
</nav>