<!-- NEWSPAPER -->
<!-- section#newspaper>div.container>div.row>h2.text-uppercase.display-6.text-center{Newspaper}+p#newspaper_p{lorem*8} -->
<section id="newspaper">
    <div class="container">
        <div class="row">
            <h2 class="text-center text-uppercase mt-3 mb-5 display-5">
                Yeni Haber
            </h2>
            <p id="newspaper_p">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
                harum perferendis maxime rerum soluta at reprehenderit possimus
                sint alias error repudiandae, asperiores nihil earum quas
                consequuntur deserunt nostrum voluptas magnam. Blanditiis quasi
                quae voluptatum consectetur est amet provident similique maxime
                deleniti, ratione, laborum corrupti ullam accusantium. Autem
                repellat assumenda, ut inventore dolorem voluptas?
            </p>
        </div>
    </div>
</section>